/**********************
  GOOGLE FONTS CDN
***********************/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=Ubuntu&display=swap');

/*******************
  CSS RESET
********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

/**********************
  DEAFULT STYLING
***********************/

section {
  padding: 2rem 2%;
}

body.active {
  --text-color: #fff;
  --light-bg-color: #011838;
}

body {
  width: 100%;
  height: 100%;
  background: var(--light-bg-color);
  color: var(--text-color);
  transition: var(--transition);
}

*::selection {
  color: var(--light-bg-color);
  background: var(--btn-color);
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p-font);
  color: #b31a38;
}

/************************* 
  HEADER SECTION STYLING
*************************/
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);

  .logo {
    font-size: var(--medium-font);
    color: var(--text-color);
    font-weight: 800;
  }

  .logo span {
    font-size: 1.6rem;
    color: #b31a38;
  }

  /****NAVIGATION MENU******/
  #nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    color: var(--light-text-color);
    background-color: var(--btn-color);
    transition: var(--transition);

    & a {
      font-size: var(--small-font);
      color: var(--light-text-color);
    }

    #darkmode,
    #close-menu {
      cursor: pointer;
      font-size: var(--medium-font);
    }

    #close-menu {
      position: absolute;
      top: 1rem;
      right: 1.1rem;
    }
  }
}

#open-menu {
  cursor: pointer;
  font-size: var(--medium-font);
}

#nav-menu.show-menu {
  right: 0;
}

/************HOME SECTION STYLING**********/
.home__container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;

  /****social media links****/
  .social__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    order: 2;

    & a {
      font-size: var(--medium-font);
      transition: var(--transition);
      color: var(--text-color);

      &:hover {
        color: var(--btn-color);
        transform: translateY(-10px);
      }
    }
  }

  /****home text****/
  .home__text {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    & span {
      font-size: var(--medium-font);
      font-weight: 500;

      & b {
        color: #b31a38;
      }
    }

    & h1 {
      font-size: var(--big-font);
    }

    & h2 {
      font-family: 'Source Code Pro', monospace;
      font-size: var(--medium-font);
    }

    & p {
      font-weight: 500;
      font-size: var(--p-font);
      margin-bottom: .5rem;
    }
 }

  /****home image****/
  .home__img {
    width: 100%;

    & img {
      width: 100%;
    }
  }

}

/************ABOUT SECTION STYLING**********/
.about__container {
  position: relative;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .about__img {
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center;
    filter: brightness(80%);
    background-size: cover;
    border-radius: .25rem;
    margin-bottom: 1rem;

    &:hover {
      filter: brightness(90%);
    }

    & img {
      width: 100%;
    }
  }

  & .about__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & p {
      font-size: var(--p-font);
    }

    & .information {
      width: 100%;
      font-size: var(--small-font);

      .info-box {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: .75rem;

        & i {
          color: var(--text-color);

          &:hover {
            color: var(--btn-color);
          }
        }
      }

    }

    & a {
      width: 50%;
      margin: auto;
    }
  }
}

/************SKILLS SECTION STYLING**********/
.skills__container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  .skills{
    width: 100%;
    position: relative;

    .skill__bars {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
    padding:.5rem;

    .bars__box {
      position: relative;
      width: 10rem;
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      box-shadow: var(--box-shadow);
      cursor: pointer;
      transition: var(--transition);
      border-radius: .25rem;

      &:hover {
        transform: scale(1.1);
        color: var(--btn-color);
      }

      &
      h3,
      span {
        font-size: var(--small-font);
        font-weight: 500;
      }

      & img{
        width: 100px !important;
        margin-bottom: .5rem !important;
      }
    }
    }
  }

}

/************PROJECTS SECTION STYLING**********/
.projects__container{
  width: 100%;
  height: min-content;

  .projects__cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;

    .project__box{
      position: relative;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .25rem;
      box-shadow: var(--box-shadow);
      cursor: pointer;
      overflow: hidden;
      transition: var(--transition);

      .details{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: .5rem;
        border-radius: .25rem;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(24px);
        transition: all 1s ease-in-out;
        opacity: 0;
        & span{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .4rem;

          & i{
            font-size: var(--medium-font);
            cursor: pointer;
            transition: var(--transition);

            &:hover{
              color: var(--btn-color);
              transform: translateY(-2px);
            }
          }
        }
      }
      & img{
        width: 100%;
      }

      &:hover{
        .details{
          opacity: 100;;      
        }
      }
    }
  }
}

/************SERVICES SECTION STYLING**********/
.services__container {
  width: 100%;
  min-height: max-content;

  .services__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .services__box {
      margin-top: 1rem;
      width: 80%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: .75rem;
      border-radius: .25rem;
      cursor: pointer;
      box-shadow: var(--box-shadow);
      transition: var(--transition);

      &:hover {
        background-color: var(--btn-color);
        color: var(--light-text-color);
        transform: scale(1.1);
      }

      & h3 {
        font-size: var(--small-font);
      }

      & i {
        font-size: var(--big-font);
        color: #b31a38;
      }

      & a {
        color: var(--text-color);
      }
    }
  }
}

/************CONTACT SECTION STYLING**********/
.contact__container {
  width: 100%;
  height: min-content;

  .contact__form {
    width: 100%;
    height: min-content;
    padding-top: 1rem;

    & form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & input,
      textarea {
        padding: 15px;
        border-radius: 0.25rem;
        width: 100%;
        border: none;
        outline: none;
        background: hsla(260, 100%, 44%, 0.1);
        margin-bottom: 1rem;
        color: var(--text-color);

        &::placeholder {
          color: var(--text-color);
        }
      }

      & textarea {
        resize: none;
      }

      .contact__button {
        background: var(--btn-color);
        font-size: var(--small-font);
        color: var(--light-text-color);
        cursor: pointer;
        &:hover {
          transform: none;
          color: #000;
          background: transparent;
          border: 1px solid var(--btn-color);
        }
      }
    }
  }
}

/************FOOTER SECTION STYLING**********/
.footer__container{
  width: 100%;
  text-align: center;

  .footer__social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:2rem 2%;

    & i{
      font-size: var(--medium-font);
      color: var(--btn-color);
      transition: var(--transition);
      &:hover{
        transform: translateY(-10px);
      }
    }
  }

}
.copyright{
  width: 100%;
  padding: 1rem 2%;
  box-shadow: var(--box-shadow);
  & p{
    text-align: center;
    font-size: var(--p-font);
    font-weight: 500;
  }
}