/********************
  REUSEABLE VARIABLE
*********************/
:root {
  --dark-bg-color: #011838;
  --light-bg-color: #fff;
  --text-color: #0f0c27;
  --light-text-color:#fff;
  --btn-color: #5100e9;

  /******************
        font variable
    *****************/
  --big-font: 2.5rem;
  --medium-font: 1.8rem;
  --small-font:1.2rem;
  --p-font: 0.9rem;

  --transition: all 0.5s ease;
  --box-shadow: -3px -3px 7px #ffffff73,
  2px 2px 5px rgba(94, 104, 121, 0.288);
}

/**************
    REUSEABLE CLASSES
*************/

.btn{
  width: 100%;
  text-align: center;
  background: var(--btn-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.25rem;
  transition: var(--transition);
  
  &:hover {
    transform: translatex(10px);
    color: #000;
    background: transparent;
    border: 1px solid var(--btn-color);
  }
}
